body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(BG\ panda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px 200px 100px 200px;
    background-color: #d9ea16;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 1.0;
}

.kaas {
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rating {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    margin: 10px 0;
}

.star {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked ~ .star {
    color: #dd1382;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.bttn {
    display: grid;
}

#summary li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    list-style-type: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.container-bevestiging {
    text-align:justify;
}